{% extends "layout.html" %}
{% block title %}Edit {{ torrent.display_name }} :: {{ config.SITE_NAME }}{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_markdown_editor %}

{% set torrent_url = url_for('torrents.view', torrent_id=torrent.id) %}
<h1>
	Edit Torrent <a href="{{ torrent_url }}">#{{torrent.id}}</a>
	{% if (torrent.user != None) and (torrent.user != g.user) %}
	(by <a href="{{ url_for('users.view_user', user_name=torrent.user.username) }}">{{ torrent.user.username }}</a>)
	{% endif %}
</h1>

<form method="POST" enctype="multipart/form-data">
	{{ form.csrf_token }}

	<div class="row">
		<div class="col-md-6">
		{{ render_field(form.display_name, class_='form-control', placeholder='Display name') }}
		</div>
		<div class="col-md-4">
		{{ render_field(form.category, class_='form-control')}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		{{ render_field(form.information, class_='form-control', placeholder='Your website or IRC channel') }}
		</div>
		<div class="col-md-6">
			<label class="form-label">Torrent flags</label><br>
			<div class="btn-group" role="group">
				{# Only allow changing anonymous status when an uploader exists #}
				{% if torrent.uploader_id %}
				<input type="checkbox" class="btn-check" id="is_anonymous" {% if torrent.anonymous %}checked{% endif %} name="is_anonymous">
				<label class="btn btn-secondary {% if torrent.anonymous %}active{% endif %}" for="is_anonymous" title="Upload torrent anonymously (don't display your username)">
					<span class="fa-solid fa-square-check"></span>
					Anonymous
				</label>
				{% endif %}
				<input type="checkbox" class="btn-check" id="is_hidden" {% if torrent.hidden %}checked{% endif %} name="is_hidden">
				<label class="btn btn-secondary {% if torrent.hidden %}active{% endif %}" for="is_hidden" title="Hide torrent from listing">
					<span class="fa-solid fa-square-check"></span>
					Hidden
				</label>
			</div>
			<div class="d-none d-xl-block"><br></div>
			<div class="btn-group" role="group">
				<input type="checkbox" class="btn-check" id="is_remake" {% if torrent.remake %}checked{% endif %} name="is_remake">
				<label class="btn btn-danger {% if torrent.remake %}active{% endif %}" for="is_remake" title="This torrent is derived from another release">
					<span class="fa-solid fa-square-check"></span>
					Remake
				</label>
				<input type="checkbox" class="btn-check" id="is_complete" {% if torrent.complete %}checked{% endif %} name="is_complete">
				<label class="btn btn-warning {% if torrent.complete %}active{% endif %}" for="is_complete" title="This torrent is a complete batch (eg. season)">
					<span class="fa-solid fa-square-check"></span>
					Complete
				</label>
				{% if g.user.is_trusted %}
				<input type="checkbox" class="btn-check" id="is_trusted" {% if torrent.trusted %}checked{% endif %} name="is_trusted">
				<label class="btn btn-success {% if torrent.trusted %}active{% endif %}" for="is_trusted" title="Mark torrent trusted">
					<span class="fa-solid fa-square-check"></span>
					Trusted
				</label>
				{% endif %}
				{% if g.user.is_moderator %}
				<input type="checkbox" class="btn-check" id="is_comment_locked" {% if torrent.comment_locked %}checked{% endif %} name="is_comment_locked">
				<label class="btn btn-secondary {% if torrent.comment_locked %}active{% endif %}" for="is_comment_locked" title="Lock comments">
					<span class="fa-solid fa-square-check"></span>
					Lock Comments
				</label>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{{ render_markdown_editor(form.description, field_name='description') }}
		</div>
	</div>

	<div class="row">
		<div class="form-group col-md-6">
			{{ form.submit(class="btn btn-primary") }}
		</div>
	</div>
</form>
<hr>

<div class="row">
	<div class="col-md-5">
		<div class="card border-danger">
			<div class="card-header bg-danger text-white">
				<h3 class="card-title">Danger Zone</h3>
			</div>
			<div class="card-body">
				<form method="POST">
					{{ delete_form.csrf_token }}

					<p>
						{% if torrent.deleted %}
						This torrent is <strong>deleted</strong>{% if torrent.banned %} and <strong>banned</strong>{% endif %}.<br>
						{% endif %}
						{% if torrent.user and torrent.user.is_banned %}
						The uploader is <strong>banned</strong>.<br>
						{% endif %}
						{% if ipbanned %}
						The uploader is <strong>IP banned</strong>.<br>
						{% endif %}
					</p>

{% if not torrent.deleted %}
					<p class="lead">
						Delete torrent.
						{{ delete_form.delete(class="btn btn-danger float-end") }}
					</p>
					<p>
						Deleted torrents are retained for backup purposes.<br>
						You (or someone else) will be able to reupload the torrent.
					</p>

					{% if g.user.is_moderator %}
					<hr>
					<p class="lead">
						Delete and ban torrent.
						{{ delete_form.ban(class="btn btn-danger float-end") }}
					</p>
					<p>
						Soft deletes the torrent.<br>
						Bans it from the tracker and disallows reuploading it.
					</p>
					{% endif %}
{% else %} {# if torrent.deleted #}
					<p class="lead">
						Undelete{% if torrent.banned %} and unban{% endif %} torrent.
						{% if torrent.banned %}
						{{ delete_form.undelete(value="Undelete & Unban", class="btn btn-info float-end") }}
						{% else %}
						{{ delete_form.undelete(class="btn btn-info float-end") }}
						{% endif %}
					</p>
					<p>
						Undeletes{% if torrent.banned %} and unbans{% endif %} this torrent.
					</p>

					{% if torrent.banned %}
					<hr>
					<p class="lead">
						Unban torrent.
						{{ delete_form.unban(class="btn btn-info float-end") }}
					</p>
					<p>
						Unbans torrent without undeleting it.<br>
						Allows reuploading this torrent again.
					</p>
					{% else %}
					<hr>
					<p class="lead">
						Ban torrent.
						{{ delete_form.ban(value="Ban", class="btn btn-danger float-end") }}
					</p>
					<p>
						Bans it from the tracker and disallows reuploading it.
					</p>
					{% endif %}
{% endif %}

{% if ban_form %}
{% if (torrent.user and not torrent.user.is_banned) or not ipbanned %}
					<hr>
					<p class="lead">
					{% if torrent.deleted %}
						{% if torrent.banned %}
						Ban uploader.
						{% else %}
						Ban torrent and ban uploader.
						{% endif %}
					{% else %}
						Delete and ban torrent and ban uploader.
					{% endif %}
					</p>
					<p>
					{% if torrent.deleted %}
						{% if torrent.banned %}
						Bans the uploader.
						{% else %}
						Bans it from the tracker and disallows reuploading it.<br>
						Additionally bans the uploader.
						{% endif %}
					{% else %}
						Soft deletes the torrent.<br>
						Bans it from the tracker and disallows reuploading it.<br>
						Additionally bans the uploader.
					{% endif %}
					</p>
					{{ render_field(ban_form.reason, class_="form-control", placeholder="Specify a ban reason.") }}<br>

			{% if torrent.user %}
					<div class="float-start">
						{% if torrent.user.is_banned %}
						<button type="button" class="btn btn-danger disabled">Already banned</button>
						{% else %}
						{% set text = "Ban User" %}
						{% if not torrent.banned %}
							{% set text = "Ban and Ban User" %}
							{% if not torrent.deleted %}
								{% set text = "Delete & Ban and Ban User" %}
							{% endif %}
						{% endif %}

						{{ ban_form.ban_user(class="btn btn-danger") }}
						{% endif %}
					</div>
					<div class="float-end">
						{% if ipbanned %}
						<button type="button" class="btn btn-danger disabled">Already IP banned</button>
						{% else %}
						{% set text = "Ban User+IP" %}
						{% if not torrent.banned %}
							{% set text = "Ban and Ban User+IP" %}
							{% if not torrent.deleted %}
								{% set text = "Delete & Ban and Ban User+IP" %}
							{% endif %}
						{% endif %}

						{{ ban_form.ban_userip(value=text, class="btn btn-danger") }}
						{% endif %}
					</div>
			{% else %}
					<div class="float-start">
						<button type="button" class="btn btn-danger disabled">No user</button>
					</div>
					<div class="float-end">
						{% if ipbanned %}
						<button type="button" class="btn btn-danger disabled">Already IP banned</button>
						{% else %}
						{% set text = "Ban IP" %}
						{% if not torrent.banned %}
							{% set text = "Ban and Ban IP" %}
							{% if not torrent.deleted %}
								{% set text = "Delete & Ban and Ban IP" %}
							{% endif %}
						{% endif %}

						{{ ban_form.ban_userip(value=text, class="btn btn-danger") }}
						{% endif %}
					</div>
			{% endif %}
{% endif %}
{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
