<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{{ config.SITE_NAME }}{% endblock %}</title>

		<meta name="viewport" content="width=480px">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
		<link rel="mask-icon" href="{{ url_for('static', filename='pinned-tab.svg') }}" color="#3582F7">
		<link rel="alternate" type="application/rss+xml" href="{% if rss_filter %}{{ url_for('main.home', page='rss', _external=True, **rss_filter) }}{% else %}{{ url_for('main.home', page='rss', _external=True) }}{% endif %}" />

		<meta property="og:site_name" content="{{ config.SITE_NAME }}">
		<meta property="og:title" content="{{ self.title() }}">
		<meta property="og:image" content="{% block meta_image %}/static/img/avatar/default.png{% endblock %}">
		{% block metatags %}
		{# Filled by children #}
		{% endblock %}

		<!-- Bootstrap 5 core CSS -->
		{# These are extracted here for the dark mode toggle #}
		{% set bootstrap_light = static_cachebuster('css/bootstrap.min.css') %}
		{% set bootstrap_dark = static_cachebuster('css/bootstrap-dark.min.css') %}
		<link href="{{ bootstrap_light }}" rel="stylesheet" id="bsThemeLink">
		<link href="{{ static_cachebuster('css/bootstrap-xl-mod.css') }}" rel="stylesheet">
		<!--
			This theme changer script needs to be inline and right under the above stylesheet link to prevent FOUC (Flash Of Unstyled Content)
			Development version is commented out in static/js/main.js at the bottom of the file
		-->
		<script>function toggleDarkMode(){"dark"===localStorage.getItem("theme")?setThemeLight():setThemeDark()}function setThemeDark(){bsThemeLink.href="{{ bootstrap_dark }}",localStorage.setItem("theme","dark"),document.body!==null&&document.body.classList.add('dark')}function setThemeLight(){bsThemeLink.href="{{ bootstrap_light }}",localStorage.setItem("theme","light"),document.body!==null&&document.body.classList.remove('dark')}if("undefined"!=typeof Storage){var bsThemeLink=document.getElementById("bsThemeLink");"dark"===localStorage.getItem("theme")&&setThemeDark()}</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/fontawesome.min.css" integrity="sha512-M5Kq4YVQrjg5c2wsZSn27Dkfm/2ALfxmun0vUE3mPiJyK53hQBHYCVAtvMYEC7ZXmYLg8DVG4tF8gD27WmDbsg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<!-- Custom styles for this template -->
		<link href="{{ static_cachebuster('css/main.css') }}" rel="stylesheet">

		<!-- Core JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.2/markdown-it.min.js" integrity="sha512-ohlWmsCxOu0bph1om5eDL0jm/83eH09fvqLDhiEdiqfDeJbEvz4FSbeY0gLJSVJwQAp0laRhTXbUQG+ZUuifUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.8/js/bootstrap.min.js" integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!-- markdown-it extensions (self-hosted because no cdnjs releases) -->
		<script src="{{ static_cachebuster('js/lib/markdown-it-ins.min.js') }}"></script>
		<script src="{{ static_cachebuster('js/lib/markdown-it-mark.min.js') }}"></script>
		<!-- Bootstrap 5.3 JS Bundle (includes Popper.js) -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js" integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!-- jQuery (still needed for other scripts) -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="{{ static_cachebuster('js/bootstrap-select.min.js') }}"></script>
		{% assets "bs_js" %}{% endassets %}
		{% assets "main_js" %}
		<script src="{{ static_cachebuster('js/main.min.js') }}"></script>
		{% endassets %}

		{% if config.SITE_FLAVOR == 'nyaa' %}
		<link rel="search" type="application/opensearchdescription+xml" title="Nyaa.si" href="/static/search.xml">
		{% elif config.SITE_FLAVOR == 'sukebei' %}
		<link rel="search" type="application/opensearchdescription+xml" title="Sukebei (Nyaa.si)" href="/static/search-sukebei.xml">
		{% endif %}
	</head>
	<body>
		<!-- Bootstrap 5 navbar -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ url_for('main.home') }}">{{ config.SITE_NAME }}</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				{% set search_username = (user.username + ("'" if user.username[-1] == 's' else "'s")) if user_page else None %}
				{% set search_placeholder = 'Search {} torrents...'.format(search_username) if user_page else 'Search...' %}
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="navbar-nav me-auto">
						<li class="nav-item {% if request.path == url_for('torrents.upload') %}active{% endif %}"><a class="nav-link" href="{{ url_for('torrents.upload') }}">Upload</a></li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Info
							</a>
							<ul class="dropdown-menu">
								<li {% if request.path == url_for('site.rules') %}class="active"{% endif %}><a class="dropdown-item" href="{{ url_for('site.rules') }}">Rules</a></li>
								<li {% if request.path == url_for('site.help') %}class="active"{% endif %}><a class="dropdown-item" href="{{ url_for('site.help') }}">Help</a></li>
								<li {% if request.path == url_for('site.trusted') %}class="active"{% endif %}><a class="dropdown-item" href="{{ url_for('site.trusted') }}">Trusted</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link" href="{% if rss_filter %}{{ url_for('main.home', page='rss', **rss_filter) }}{% else %}{{ url_for('main.home', page='rss') }}{% endif %}">RSS</a></li>
						{% if config.SITE_FLAVOR == 'nyaa' %}
						<li class="nav-item"><a class="nav-link" href="//{{ config.EXTERNAL_URLS['fap'] }}">Fap</a></li>
						{% elif config.SITE_FLAVOR == 'sukebei' %}
						<li class="nav-item"><a class="nav-link" href="//{{ config.EXTERNAL_URLS['main'] }}">Fun</a></li>
						{% endif %}
						{% if g.user.is_moderator %}
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Admin
							</a>
							<ul class="dropdown-menu">
								<li {% if request.path == url_for('admin.reports') %}class="active"{% endif %}><a class="dropdown-item" href="{{ url_for('admin.reports') }}">Reports</a></li>
								<li {% if request.path == url_for('admin.log') %}class="active"{% endif %}><a class="dropdown-item" href="{{ url_for('admin.log') }}">Log</a></li>
								<li {% if request.path == url_for('admin.bans') %}class="active"{% endif %}><a class="dropdown-item" href="{{ url_for('admin.bans') }}">Bans</a></li>
								<li {% if request.path == url_for('admin.trusted') %}class="active"{% endif %}><a class="dropdown-item" href="{{ url_for('admin.trusted') }}">Trusted</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>

					<ul class="navbar-nav ms-auto">
						{% if g.user %}
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle d-md-none" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa-solid fa-user fa-fw"></i>
								{{ g.user.username }}
							</a>
							<a href="#" class="nav-link dropdown-toggle d-none d-md-block" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa-solid fa-user fa-fw"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li class="d-md-none"><a class="dropdown-item" href="#"><i class="fa-solid fa-user fa-fw"></i> Logged in as {{ g.user.username }}</a></li>
								<li class="d-md-none"><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="{{ url_for('users.view_user', user_name=g.user.username) }}"><i class="fa-solid fa-user fa-fw"></i> Torrents</a></li>
								<li><a class="dropdown-item" href="{{ url_for('account.profile') }}"><i class="fa-solid fa-gear fa-fw"></i> Profile</a></li>
								<li><a class="dropdown-item" href="{{ url_for('account.logout') }}"><i class="fa-solid fa-times fa-fw"></i> Logout</a></li>
							</ul>
						</li>
						{% else %}
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle d-md-none" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa-solid fa-user fa-fw"></i>
								Guest
							</a>
							<a href="#" class="nav-link dropdown-toggle d-none d-md-block" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa-solid fa-user fa-fw"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href="{{ url_for('account.login') }}"><i class="fa-solid fa-sign-in-alt fa-fw"></i> Login</a></li>
								<li><a class="dropdown-item" href="{{ url_for('account.register') }}"><i class="fa-solid fa-pen fa-fw"></i> Register</a></li>
							</ul>
						</li>
						{% endif %}
					</ul>
					{% set nyaa_cats = [('1_0', 'Anime', 'Anime'),
						('1_1', '- Anime Music Video', 'Anime - AMV'),
						('1_2', '- English-translated', 'Anime - English'),
						('1_3', '- Non-English-translated', 'Anime - Non-English'),
						('1_4', '- Raw', 'Anime - Raw'),
						('2_0', 'Audio', 'Audio'),
						('2_1', '- Lossless', 'Audio - Lossless'),
						('2_2', '- Lossy', 'Audio - Lossy'),
						('3_0', 'Literature', 'Literature'),
						('3_1', '- English-translated', 'Literature - English'),
						('3_2', '- Non-English-translated', 'Literature - Non-English'),
						('3_3', '- Raw', 'Literature - Raw'),
						('4_0', 'Live Action', 'Live Action'),
						('4_1', '- English-translated', 'Live Action - English'),
						('4_2', '- Idol/Promotional Video', 'Live Action - Idol/PV'),
						('4_3', '- Non-English-translated', 'Live Action - Non-English'),
						('4_4', '- Raw', 'Live Action - Raw'),
						('5_0', 'Pictures', 'Pictures'),
						('5_1', '- Graphics', 'Pictures - Graphics'),
						('5_2', '- Photos', 'Pictures - Photos'),
						('6_0', 'Software', 'Software'),
						('6_1', '- Applications', 'Software - Apps'),
						('6_2', '- Games', 'Software - Games')]
					%}

					{% set suke_cats = [('1_0', 'Art', 'Art'),
						('1_1', '- Anime', 'Art - Anime'),
						('1_2', '- Doujinshi', 'Art - Doujinshi'),
						('1_3', '- Games', 'Art - Games'),
						('1_4', '- Manga', 'Art - Manga'),
						('1_5', '- Pictures', 'Art - Pictures'),
						('2_0', 'Real Life', 'Real Life'),
						('2_1', '- Photobooks and Pictures', 'Real Life - Pictures'),
						('2_2', '- Videos', 'Real Life - Videos')]
					%}

					{% if config.SITE_FLAVOR == 'nyaa' %}
						{% set used_cats = nyaa_cats %}
					{% elif config.SITE_FLAVOR == 'sukebei' %}
						{% set used_cats = suke_cats %}
					{% endif %}

				<div class="search-container d-lg-none">
				{# The mobile menu #}
					{% if user_page %}
					<form class="form" action="{{ url_for('users.view_user', user_name=user.username) }}" method="get">
					{% else %}
					<form class="form" action="{{ url_for('main.home') }}" method="get">
					{% endif %}

						<input type="text" class="form-control" name="q" placeholder="{{ search_placeholder }}" value="{{ search["term"] if search is defined else '' }}">
						<br>

						<select class="form-control" title="Filter" data-width="120px" name="f">
							<option value="0" title="No filter" {% if search is defined and search["quality_filter"] == "0" %}selected{% else %}selected{% endif %}>No filter</option>
							<option value="1" title="No remakes" {% if search is defined and search["quality_filter"] == "1" %}selected{% endif %}>No remakes</option>
							<option value="2" title="Trusted only" {% if search is defined and search["quality_filter"] == "2" %}selected{% endif %}>Trusted only</option>
						</select>

						<br>

						<select class="form-control" title="Category" data-width="200px" name="c">
							<option value="0_0" title="All categories" {% if search is defined and search["category"] == "0_0" %}selected{% else %}selected{% endif %}>
								All categories
							</option>
							{% for cat_id, cat_name, cat_title in used_cats %}
							<option value="{{ cat_id }}" title="{{ cat_title }}" {% if search is defined and search.category == cat_id %}selected{% endif %}>
								{{ cat_name }}
							</option>
							{% endfor %}
						</select>

						<br>

						<button class="btn btn-primary form-control" type="submit">
							<i class="fa-solid fa-search fa-fw"></i> Search
						</button>
					</form>
				</div><!--/.search-container -->

				{% if user_page %}
				<form class="form" action="{{ url_for('users.view_user', user_name=user.username) }}" method="get">
				{% else %}
				<form class="form" action="{{ url_for('main.home') }}" method="get">
				{% endif %}
					<div class="input-group search-container d-none d-lg-flex">
						<select class="selectpicker show-tick" title="Filter" data-width="120px" name="f">
							<option value="0" title="No filter" {% if search is defined and search["quality_filter"] == "0" %}selected{% else %}selected{% endif %}>No filter</option>
							<option value="1" title="No remakes" {% if search is defined and search["quality_filter"] == "1" %}selected{% endif %}>No remakes</option>
							<option value="2" title="Trusted only" {% if search is defined and search["quality_filter"] == "2" %}selected{% endif %}>Trusted only</option>
						</select>

						<select class="selectpicker show-tick" title="Category" data-width="130px" name="c">
							<option value="0_0" title="All categories" {% if search is defined and search["category"] == "0_0" %}selected{% else %}selected{% endif %}>
								All categories
							</option>
							{% for cat_id, cat_name, cat_title in used_cats %}
							<option value="{{ cat_id }}" title="{{ cat_title }}" {% if search is defined and search.category == cat_id %}selected{% endif %}>
								{{ cat_name }}
							</option>
							{% endfor %}
						</select>
						<input type="text" class="form-control search-bar" name="q" placeholder="{{ search_placeholder }}" value="{{ search['term'] if search is defined else '' }}" />
						<button class="btn btn-primary" type="submit">
							<i class="fa-solid fa-search fa-fw"></i>
						</button>
					</div>
				</form>
				</div><!--/.nav-collapse -->
			</div><!--/.container -->
		</nav>

		<div class="container">
			{% include "flashes.html" %}
			{% if config.MAINTENANCE_MODE and config.MAINTENANCE_MODE_MESSAGE %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				{{ config.MAINTENANCE_MODE_MESSAGE | safe }}
			</div>
			{% endif %}

			{% block body %}{% endblock %}
		</div> <!-- /container -->

		<footer style="text-align: center;">
			<p>Dark Mode: <a href="#" id="themeToggle">Toggle</a></p>
			{% if config.COMMIT_HASH %}
			<p>Commit: <a href="https://github.com/sb745/NyaaV3/tree/{{ config.COMMIT_HASH }}">{{ config.COMMIT_HASH[:7] }}</a></p>
			{% endif %}
		</footer>
	</body>
</html>
